<%- include('head') -%>
<%- include('header') -%>
<%- include('navbar') -%>
<div class="container w-100 w-md-75 mx-auto bg-white">
    <div class="row p-5 m-5">
        <!--Lake edit-->
        <div class="col-12 col-md-6 border-end-black px-md-5">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center">Tó szerkesztése</h1>
                </div>
                <form>
                    <div class="row">
                        <!--Name-->
                        <div class="col-12 col-md-6">
                                <div class="mb-3">
                                    <label for="lakeName" class="form-label">Név</label>
                                    <input type="text" class="form-control border-primary" id="lakeName">
                                </div>
                        </div>
                            <!--Natural-->
                            <div class="col-12 col-md-6 ">
                                <div class="form-check form-switch">

                                    <label class="form-check-label" for="natural">Természetes</label>
                                    <br>
                                    <input class="form-check-input mx-auto w-25" type="checkbox" id="natural">
                                </div>
                            </div>
                        <!--Name-->
                        <div class="col-12 col-md-6">
                            <div class="mb-3">
                                <label for="waterContent" class="form-label">Víztartalom (liter)</label>
                                <input type="number" class="form-control border-primary" id="waterContent">
                            </div>
                        </div>
                        <!--Depth-->
                        <div class="col-12 col-md-6">
                            <div class="mb-3">
                                <label for="lakeDepth" class="form-label">Legmélyebb pont (méter)</label>
                                <input type="number" class="form-control border-primary" id="lakeDepth">
                            </div>
                        </div>
                        <!--Description-->
                        <div class="col-12">
                            <div class="mb-3">
                                <label for="description">Leírás</label>
                                <textarea class="form-control border-primary" id="description" placeholder="Required example textarea" required></textarea>
                            </div>
                        </div>
                        <div class="col-6">
                            <a href="/index.html" class="btn btn-outline-primary">Vissza</a>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <button type="button" class="btn btn-outline-primary">Mentés</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--Fish list-->
        <div class="col-12 col-md-6 px-5 ">
                    <h1 class="text-center">Halak listája</h1>
                <!--Fish grid-->
                <div class="h-75 overflow-y-scroll p-2">
                    <!--Fish card-->
                    <div class="mx-auto d-flex flex-row justify-content-around rounded w-100 border border-primary p-1">
                        <div>
                            <h3 class="text-sm">Némó</h3>
                        </div>
                        <div>
                            <a href="fish_edit.ejs" class="btn btn-outline-secondary">Megtekintés</a>
                        </div>
                        <div>
                            <button type="button" class="btn btn-outline-danger">Törlés</button>
                        </div>
                    </div>
                </div>
            <div class="row">
                <!--Fish dropdown-->
                <div class="dropdown col-6">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="selectFish" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Válassz halat
                    </button>
                </div>
                <!--Add button-->
                <div class="col-6 d-flex justify-content-end">
                    <button type="button" class="btn btn-outline-primary">Hozzáad</button>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('end') -%>